* {
  font-family: monospace;
  text-transform: uppercase;
  margin: 0;
}

h1 {
  color: rgb(255, 191, 0);
  font-size: 26pt;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

a {
  color: white;
}

a:hover {
  color: #f7be53;
}

#root {
  text-align: center;
  }

body, body > div {
  height: 100vh;
  width: 100vw;
}  

#App {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#navBar {
  background-color: #051077;
  padding: 1.5rem;
}

nav {
  margin-top:1rem;
  display: flex;
  justify-content: space-evenly;
  font-size: 20pt;
  text-decoration: underline;
}

#mainContent > div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.playerCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.singlePlayerCard {
  display: flex;
  padding-top: 5rem;
}

.newPlayerForm {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  min-height: 100vh;
}

button {
  width: 200px;
  margin: 2.5px;
}

button:hover {
  cursor: pointer;
}

label {
  font-size: large;
  font-weight: bold;
  margin: 10px;
}

input{
margin-right: 10px;
}