* {
    font-family: monospace;
    text-transform: uppercase;
    margin: 0;
}

#container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

#container > div {
    display: flex;
}

#navbar {
    padding-top: 1rem;
    justify-content: space-evenly;
    font-size: 16pt;
    text-decoration: none;
}

.finder input {
    width: 250px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid black;
    padding: 2px;
    font-size: 16px;
}

.finder button{
    width: 250px;
    height: 25px;
    border-radius: 5px;
    font-size: 12px;
    color: white;
    background-color: burlywood;
    margin: 10px;
    cursor: pointer;
}

a {
    font-weight: 500;
    color: red;
    text-decoration: inherit;
}

a:hover {
    color: #535bf2;
}

h1 {
    font-size: 3.2em;
    line-height: 2;
}

.playerCards {
    background-color: brown;
    display: flex;
    flex-direction: column;
}